@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .quiz-no-select {
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }
  .perspective-1000 {
    perspective: 1000px;
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}